---
version: 8
---

@import "variables";

.footer {
  border-color: $gds-gray-100;
  max-width: $landing-page-content;
  font-size: $body-font-size;
  a {
    color: $landing-sidebar-gray-500;
  }

  .fa {
    font-size: 20px;
    color: $landing-sidebar-gray-400;
  }
}
