---
version: 12
---

@import "variables";

$base-nav-link-padding: .75rem;
$sm-nav-link-padding: 1.25rem;
$nav-link-font-size: 14px;

.clear {
  clear: both;
}

// ToC styles
.table-of-contents {
  position: relative;
  padding: 16px 8px;
  margin-top: 60px;

  li {
    list-style: none;
  }

  .nav-link {
    font-size: $nav-link-font-size;
    color: $toc-link-color;
    border-radius: 0;
    border-left: 3px solid $gds-indigo-100;

    &:hover {
      color: $link-color-nav-hover;
      text-decoration: underline;
      background-color: transparent;
      box-shadow: none;
    }

    &.active {
      color: $link-color-nav;
      background-color: transparent;
      border-color: $gds-indigo-800;

      &:hover, &:only-child {
        color: $link-color-nav-hover;
        background-color: transparent;
      }
    }
  }
}

.markdown-toc {
  padding-left: 16px;
}

.nav-pills {
  flex-wrap: nowrap;
}

// not wide enough to show quick nav and toc
@media(max-width:1099px) {
  .doc-nav {
    position: relative;
    min-height: 34px;
  }

  .table-of-contents {
    margin: 0;
    padding: 0;

    .nav-link {
      border-left: 0;
      padding-left: $sm-nav-link-padding;
    }

    h4 {
      font-size: $nav-link-font-size;
    }
  }

  .sm-collapsing {
    height: 0;
    overflow: hidden;
    transition: height .2s ease;
  }

  .sm-collapsed {
    display: none;
  }

  .main.class {
    float: none;
    width: inherit;
    max-width: 955px;
    margin: auto 1% auto 50px;
  }

  .toc-lg {
    display: none;
  }

  .toc-sm {
    display: block;
  }
}

// wide enough to show toc but not quick nav
@media(min-width:1100px) {
  .header {
    top: 0;
    left: 0;
  }

  .doc-nav {
    position: fixed;
    top: 0;
    right: 8px;
    margin-top: 55px;
    overflow: scroll;
    height: 100%;

    &.toc-no-breadcrumbs {
      padding-top: 6px;
    }
  }

  .toc-lg {
    display: block;
  }

  .toc-sm {
    display: none;
  }

  .toc-separator {
    border-top: 1px solid $gds-gray-200;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  // NOTE: This only allows for 10 levels.
  // This should be acceptable since levels are determined by the `<h1-6>` which is less
  // than 10 anyways...
  @for $i from 0 to 10 {
    .nav-link.toc-level-#{$i} {
      padding-left: $base-nav-link-padding * ($i + 1);
    }
  }
}

@media(min-width:1100px) and (max-width:1600px) {
  $doc-nav-width: 19vw;

  .doc-nav {
    width: $doc-nav-width;
  }
}

// wide enough to show quick nav and toc
@media(min-width:1601px) {
  $doc-nav-desired-width: 0;
  // Get around the scroll bar
  $doc-nav-width: 21%;

  .doc-nav {
    width: $doc-nav-width;
  }
}
